include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include pyproject.toml
recursive-include ophelos_sdk *.py
recursive-include examples *.py
include ophelos_sdk/py.typed
exclude .gitignore
exclude .pre-commit-config.yaml
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * .pytest_cache
recursive-exclude * .mypy_cache
recursive-exclude * .coverage
recursive-exclude * htmlcov
